.wrapper {
  width: 100%;
  height: 100%;
}
.bar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}
.bar > * {
  margin-right: 2vw;
}
.table-wrapper {
  width: 100%;
  height: 70vh;
}